<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h2>
    {{ title }}
  </h2>
</div>
<div class="g3">
  <div></div>
  <div class="all">
    <div class="g3" style="background: white">
      <div></div>

      <div class="g3t">
        <div></div>
        <div class="rec">



        </div>
        <div></div>
      </div>

      <div class="gpic">
        <div></div>
        <div style="display: flex;">
          <button class="btn" onclick="document.getElementById('file').click();">
            <span> <img src="assets/img/play-button.svg" width="50px" height="50px"> </span>
          </button>
          <input type="color" style="display:none;" id="file"  onclick="watchColorPicker()"/>
        </div>
        <div></div>
        <div style="display: flex;">
          <button class="btn" onclick="document.getElementById('file2').click();">
            <span> <img src="assets/img/play-button.svg" width="50px" height="50px" (change)="print()"> </span>
          </button>
          <input type="color" style="display:none;" id="file2" />
        </div>
        <div></div>

      </div>
    </div>
    <div id="rrr" style="background: blue"> </div>
  </div>
  <div></div>
</div>